:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--background-color: 255, 255, 255;

	--dark-blue: #002f87;
	--light-blue: #0071ce;
	--black: #000;
	--dark-grey: #232526;
	--red: #e10027;
	--white: #fff;

	--bg: var(--white);
	--text: var(--black);
	--header1: var(--dark-blue);
	--header2: var(--black);

	--font-size: 20px;
	--default-padding-top: 5vh clamp(1rem, 5vw, 3rem);
	--default-padding-x: clamp(1rem, 5vw, 3rem);
	--default-padding-bottom: 1rem;
	--max-width: 70ch;
	--layout-spacing: max(8vh, 3rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--dark-grey);
		--text: var(--white);
		--header1: var(--white);
		--header2: var(--white);
		--logo-letters: var(--white);
		--link: var(--white);
		--link-underline: var(--light-blue);
		--link-focus: var(--light-blue);
		--footer-bg: var(--dark-grey);
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	color: var(--text);
	font-size: var(--font-size);
}

body > * {
	width: min(100%, var(--max-width));
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
