.suggestionList > * {
	border-bottom: 1px dashed;
	border-radius: 0px !important;
}

.suggestionList > *:first-child {
	border-top: 0;
}

.suggestionList > *:last-child {
	border-bottom: 0 !important;
}

.suggestionList {
	margin-top: 3em;
}
