.suggestion {
	font-weight: 600;
	list-style-type: none;
	border: 0 solid var(--text);
	border-width: 1px 1px 0 0;
}

.suggestionlower {
	opacity: 80%;
	font-size: 85%;
	letter-spacing: 0.1ch;
	color: var(--text);
	text-decoration: none !important;
	text-transform: uppercase;
}

.Link {
	display: block;
	font-weight: 600;
	font-size: 160%;
	/* text-decoration: none; */
	color: var(--palette-text-disabled) !important;
}

.suggestionList {
	border: 0 solid var(--text);
	border-width: 0 0 1px 1px;
}
