.suggestion {
	font-weight: 600;
	list-style-type: none;
	padding: 1em;
	border: 0 solid var(--text);
	border-width: 1px 1px 0 0;
}

.suggestionlower {
	font-weight: normal;
	letter-spacing: 0.1ch;
	line-height: 2em;
	font-size: 70%;
	color: var(--text);
	text-decoration: none !important;
	text-transform: uppercase;
}

.Link {
	display: block;
}

.suggestionList {
	border: 0 solid var(--text);
	border-width: 0 0 1px 1px;
}
