.suggestionTown {
	opacity: 80%;
	font-size: 85%;
	letter-spacing: 0.1ch;
	color: var(--text);
	text-decoration: none !important;
	text-transform: uppercase;
	margin-left: auto;
	/* float: right */
}

.linkBox {
	display: flex;
	flex-direction: row;
	font-size: 160%;
	padding: 0.5em 0.8em;
	font-weight: 600;
}

.suggestion {
	text-decoration: none;
	color: white;
}

.suggestion:visited > * {
	text-decoration: none;
	color: gray !important;
}

/* .link:not(:visited) > * {
	color: var(--palette-text-primary);
	color: white;
}

.link:visited > * {
	color: gray !important;
} */
