.suggestionTown {
	opacity: 80%;
	font-size: 85%;
	letter-spacing: 0.1ch;
	color: var(--text);
	text-decoration: none !important;
	text-transform: uppercase;
	margin-left: auto;
	float: right;
}

.link {
	display: flex;
	flex-direction: row;
	font-weight: 600;
	font-size: 160%;
	text-decoration: none;
	color: var(--palette-text-primary);
}

.link:visited {
	color: gray !important;
}
