.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 1vh 0;
	text-align: center;
	gap: 1em;
}

.header {
	font-size: 700% !important;
	margin: 0;
}

.backButton {
	padding: 3em 0 0 3em;
}
