.card {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: var(--default-padding-x);
	border: 2px solid var(--text);
	background-color: var(--bg);
}

.searchBox {
	font-size: 110%;
	padding: 0.5ch;
	border: 1px solid var(--text);
}
