.primarySearchInterface {
	display: flex;
	align-items: center;
	gap: 2em;
}

.titleAndSearchBar {
	display: flex;
	flex-direction: column;
	gap: 1em;
	flex-grow: 1;
}

.titleAndSearchBar > TextField {
	width: 100%;
}
