.subSection > *:not(h3) {
	margin-top: 0.4em;

	margin-bottom: 0.4em;
	font-weight: 600;
}

.subSection > h3 {
	margin-top: 1em;
	margin-bottom: 0.6em;
}

.subSection > h2 {
	font-weight: 700;
}

.subSection:not(:first-child) {
	margin-top: 2em;
}
.subSection {
	margin-bottom: 2em;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	padding: 2em;
	border-radius: 0.5em;
	border: 1px solid #ccc;
	padding-right: 25%;
}

.subSection > input {
	width: 50%;
	font-size: inherit;
	font-family: inherit;
	padding: 0.5em;
}

.subSection > Select {
	width: 50%;
}

.alertButton {
	margin-right: 1em;
	margin-left: 1em;
	min-width: 8em;
}

.saveButton {
	color: white;
	background-color: #0a7541;
}
.saveButton:hover {
	color: white;
	background-color: #0a7541;
}

.discardButton {
	background-color: transparent;
	text-decoration: underline;
}

.footInchInput {
	display: inline-block;
	display: flex;
	flex-direction: row;

	gap: 2em;
}

.notes {
	width: 100%;
}

.photoFrame {
	border: 2px dashed gray;
	border-radius: 2px;
	padding: 20px;
}

.logo {
	position: absolute;
	z-index: 2;
	opacity: 20%;
	max-width: 8vw;
	bottom: 0;
	left: 0;
	margin: 0 0 1em 3em;
}

.page {
	flex-grow: 1;
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: row;
}

.sidebar {
	padding: 3em 0 3em 3em;
	display: flex;
	flex-direction: column;
	width: min-content;
	border-right: 1px solid lightgray;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.sidebar > Button {
	margin-bottom: 1.3em;
}

.busyBox {
	width: 100%;
	overflow-y: auto;
	padding: 2em;
}

.childStopButtons > Button {
	width: 90%;
	justify-content: left;
}

.stopId {
	text-transform: uppercase;
	letter-spacing: 0.1ch;
}

.image {
	height: 100% !important;
	width: unset !important;
	object-fit: contain;
}

.blinkIt {
	animation: blink 0.5s;
	animation-iteration-count: 2;
	animation-timing-function: step-end;
}

@keyframes blink {
	0% {
	}

	50% {
		outline: 6px solid #ed6c02;
	}
	100% {
	}
}
