.toolbarButtonGroups {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 5px;
	right: 0;
	margin: auto;
	margin-right: 1em;
	padding-left: 1em;
	gap: 2.5em;
}

.logo {
	opacity: 40%;
}
